参考前端/
.trae
backend-node/scripts
backend-node/configs/ai-configs-stary.json
backend-node/configs/ai-configs-qudao.json
backend-node/configs/ai-configs-2026-03-12 (5).json
data/drama_generator.db
data/drama_generator.db-shm
data/drama_generator.db-wal
.opencode
.cursor
